.mast-head1,{
  text-align: center;
}

.mast {
  padding: 6em 0;
  background-color: #FF5733;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: solid 1em #9C341E;
}

.mast-head1 {
    /* Layout Declarations */
    color: #F1C863;
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
.mast-head2 {
    /* Layout Declarations */
    color: #F1C863;
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
.erd {
    /* Layout Declarations */
    color: #D9D7D6;
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: -0.02em;
    text-align: center;
}
