.mast {
  background-color: #73A8C2;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: solid 1em #F1C863;
}

.mast-head1 {
    /* Layout Declarations */
    color: #F1C863;
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
}

.erd-background {
  background-color: #BFCBFF;
  background-size: cover;
  background-repeat: no-repeat;
}
.erd {
    /* Layout Declarations */
    color: #000000;
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: -0.02em;
    text-align: center;
}
