<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
		        	<li><a href="/About Me">About</a></li>
	        		<li><a href="/Projects">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="www.linkedin.com/in/shreya-kaul">LinkedIn</a></li>
	        		<li><a href="https://github.com/shreyakaul">github.com/shreyakaul</a></li>
				</ul>
			</footer>
		</body>
	</html>
