<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
		        	<li><a href="/">About Me</a></li>
	        		<li><a href="/Projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer class="content-footer">
    <p>Contact Me</p>
    <ul class="social">
        <li><a class="css-is-deranged" href="https://www.github.com/shreyakaul">GitHub</a></li>
        <li><a class="css-is-deranged" href="https://www.linkedin.com/in/shreya-kaul">LinkedIn</a></li>
    </ul>
  
</footer>
		</body>
	</html>
